@media (max-width: 2280px) {
  body {
    background-color: red;
    color: black;
  }
  .titleContainer {
    border: solid peru;
    height: 40vh;
    margin: 1em;
    font-size: 50px;
    text-align: center;
    background-image: url("https://thumbs.dreamstime.com/b/red-traffic-light-pop-art-retro-style-flow-signs-signals-color-rules-road-68673184.jpg")
  }
  .picContainer {
    border: solid black;
    height: 40vh;
    background-image: url("https://img.freepik.com/free-photo/red-light-traffic-light-street-night_181624-16787.jpg?t=st=1721231027~exp=1721234627~hmac=ebee7dced5216fccd10e1c913bfc89f743b408d68a6f2b2e4b17ceb9ae1a84d6&w=1380")
  }
  .logo {
    border: solid yellow;
    height: 20vh;
    margin: 2em;
  }
  #red {
    width: 250px;
    display:block;
  }
  #yellow {
    width: 33%;
    display:none;
  }
  #green {
    width: 33%;
    display:none;
  }
}
/* ------------Desktop  */

@media (max-width: 1480px) {
  body {
    background-color: lemonchiffon;
  }
  .titleContainer {
    border: solid burlywood;
    height: 40vh;
    margin: 1em;
    font-size: 50px;
    text-align: center;
    color: burlywood;
  }
  .picContainer {
    border: solid black;
    height: 40vh;
    background-image: url("https://img.freepik.com/premium-photo/traffic-signal-road-city_1048944-24453042.jpg?semt=ais_user")
  }
  .logo {
    border: solid green;
    height: 20vh;
    margin: 2em;
  }
  #red {
    width: 33%;
    display:none;
  }
  #yellow {
    width: 250px;
    display:block;
  }
  #green {
    width: 33%;
    display:none;
  }
}
/* ---------------Mid  */

@media (max-width: 880px) {
  body {
    background-color: rgb(77, 199, 6)
  }

  .titleContainer {
    border: solid white;
    height: 40vh;
    margin: 1em;
    font-size: 50px;
    text-align: center;
    color: white;
  }
  .picContainer {
    border: solid black;
    height: 40vh;
    background-image: url("https://img.freepik.com/free-photo/closeup-green-traffic-light-evening_181624-11652.jpg?t=st=1721235591~exp=1721239191~hmac=ff15c39aea575626a24611b3aaca91246653cc71196ed2b87c331e6cb58f773a&w=740")
  }

  .logo {
    border: solid blue;
    height: 20vh;
    margin: 2em;
  }
  #red {
    display:none;

  }
  #yellow {
    width: 33%;
    display:none;
  }
  #green {
    width:250px;
    height:250px;
    display:block;
  }
}
/* -------------Mobile  */

/* -------GeneralCSS */

.icon {
  height: 120px;
  width: 120px;
}
.sectionContainer {
  border: solid black;
  height: 40vh;
  margin: 1em;
}
/* ---------------- */